In [1]:
## Coreset Util
## Karan Vombatkere, Nov 2021

import pandas as pd
import numpy as np

In [5]:
class Coreset_Util:
    #Initialize with dataset name
    def __init__(self, datasetName):
        self.data = self.importData(datasetName)
        return
    
    #Use Pandas to import dataset
    def importData(self, fileName):
        filePath = 'data/'+fileName
        importedData = pd.read_csv(filePath)

        print('Imported dataset:', fileName)
        return importedData

    #Specify subset of columns to use
    def subsetColumns(self, columnList):
        print('Subsetting Dataset to columns:', columnList)
        self.data = self.data[columnList]
        return

In [6]:
#preliminary testing
dataset_name = 'UNdata_CO2Emissions.csv'
a = Coreset_Util(dataset_name)
a.subsetColumns(['Year', 'Value'])

Imported dataset: UNdata_CO2Emissions.csv
Subsetting Dataset to columns: ['Year', 'Value']

In [7]:
a.data

      Year         Value
0     2018  4.159539e+05
1     2017  4.150974e+05
2     2016  4.110315e+05
3     2015  4.015548e+05
4     2014  3.941169e+05
...    ...           ...
1242  1994  5.377033e+06
1243  1993  5.283438e+06
1244  1992  5.182707e+06
1245  1991  5.078890e+06
1246  1990  5.128301e+06

[1247 rows x 2 columns]