In [2]:
## Coreset Primitives
## Karan Vombatkere, Nov 2021

import pandas as pd

In [3]:
#Import Data

In [5]:
class CoresetPrimitives:
    #Initialize with dataset name
    def __init__(self, datasetName):
        self.importData(datasetName)
        return
    
    #Use Pandas to import dataset
    def importData(self, fileName):
        filePath = 'Test Data/'+fileName
        self.data = pd.read_csv(filePath)

        print('Imported dataset:', fileName)
        return

In [6]:
dataset_name = 'UNdata_CO2Emissions.csv'
a = CoresetPrimitives(dataset_name)

Imported dataset: UNdata_CO2Emissions.csv

In [7]:
a.data

               Country or Area  Year         Value
0                    Australia  2018  4.159539e+05
1                    Australia  2017  4.150974e+05
2                    Australia  2016  4.110315e+05
3                    Australia  2015  4.015548e+05
4                    Australia  2014  3.941169e+05
...                        ...   ...           ...
1242  United States of America  1994  5.377033e+06
1243  United States of America  1993  5.283438e+06
1244  United States of America  1992  5.182707e+06
1245  United States of America  1991  5.078890e+06
1246  United States of America  1990  5.128301e+06

[1247 rows x 3 columns]